[flake8]
select =
    # Default Flake8 error codes
    F4, F6, F7, F8, C90,
    # List comprehension plugin
    C4,
    # Stub file plugin
    Y0,
    # Return value plugin
    R501, R502, 504
    # PEP8 naming plugin
    N8,
    # F-string plugin
    FS,
    # Annotation complexity plugin
    TAE,
    # TODO plugin
    T000

exclude =
    .git,
    # Ignore ANTLR grammar files
    *.g4,
    # Ignore ANTLR generated python modules
    docs/conf.py

max-line-length = 100

per-file-ignores =
    # F401: Imported but unused
    __init__.py: F401
    # N8: PEP8 naming conventions
    *.pyi: N8
    # W605: Invalid escape sequence
    examples/*.py: W605
    # W605: Invalid escape sequence
    test_*.py: W605

max-annotations-complexity = 3
